<div class="ss-content-header">
    <h3>Start a New Query
</h3>
</div>


<div>

    <div class="ss-query" style="margin:1em 0; border-bottom:1px dashed #AAAAAA;">

        <label for="${id}_query">SQL Query
</label>  <span class="ss-text-example">(E.g. select * from table)
</span>
        <br />
        <div id="${id}_query_wrapper" style="border: 1px solid black; display: none;">
            <textarea id="${id}_query" style="height: 170px;"></textarea>
        </div>

        <div style="margin: 15px 0; text-align:right;">
            <button class="ss-actions-button" id="${id}_run_query">Run query
</button>
            <button class="ss-actions-button" id="${id}_save_query">Save query
</button>
            <button class="ss-actions-button" id="${id}_download_query">Download results
</button>
        </div>
        
    </div>
    
    <div id="${id}_download_error" style="display: none;"></div>
</div>


<div class="ss-content-table" style="display:none;" id="new_query_preview_panel">
    
    <h5 id="dataset_preview_header">DATASET PREVIEW
&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight:normal;">Rows <span style="color:#000;font-weight:bold;">1 - <span id="preview_max_rows"></span> </span> of <span style="color:#000;font-weight:bold;"><span id="preview_total_rows"></span></span>&nbsp;&nbsp;|&nbsp;&nbsp;Columns <span id="preview_max_cols" style="color:#000;font-weight:bold;"></span> of <span id="preview_total_cols" style="color:#000;font-weight:bold;"></span></span></h5>
    
    <div id="ss_table_container_main" class="ss-table-container">
        <div id="${id}_results" class="ss-queryresults"></div>
    </div>
    
</div>

