    <h4>${dataset_name}</h4>

    <div id="js-dataset-sharing-info">
    {{if has_users}}
    <span class="ss-access-shared">Only <strong>you</strong> and <strong>specific users</strong> can view this dataset</span><a style="margin-left:15px;font-size:82%;" href="javascript:void(0)" class="js-make_dataset_public">Make dataset public</a>
    {{else}}
    <span class="ss-access-private">Only <strong>you</strong> can view this dataset</span><a style="margin-left:15px;font-size:82%;" href="javascript:void(0)" class="js-make_dataset_public">Make dataset public</a>
    {{/if}}
    </div>
    <div id="js-dataset-sharing-changed" style="display: none;">
    <span style="color:orange;" >Dataset will be set to private upon saving.</span>
    </div>
    <div id="js-dataset-sharing-changed-with-users" style="display: none;">
    <span style="color:orange;" >Sharing permissions have changed and will be updated upon saving.</span>
    </div>
    
    <div class="ss-sharing-container">
        
        <h5>Share with others:</h5>
        
        <div id="share_ds_autocomplete">
            <input type="text" id="share_ds_autocomplete_input" />
            <div id="share_ds_autocomplete_panel"></div>
        </div>
        <p style="font-size:10px;margin-top:0;color:#bbb;">Enter one UW NetID or email address at a time</p>
        
        <div id="permissions_wrapper" style="height: 145px; overflow-y: auto; border: solid 1px #7F7F7F;">
            <table id="sharing_list">
                <thead>
                    <tr><th>Name</th></th></tr>
                </thead>
                <tbody>
                   
                    {{each accounts}}
                    {{if is_user}}
                        <tr><td><span class="permission-user">${name} ${surname} (${login})</span> {{if email}}shared by ${email}{{/if}}</td>
                        <td><span class="permission-action">Read-only <a href="javascript:void" class="js-remove_account" rel="${login}">x</a></span></td></tr>
                    {{else}}
                        <tr><td><span class="permission-user">${email}</span></td>
                        <td><span class="permission-action">Read-only <a href="javascript:void" class="js-remove_email" rel="${rel}">x</a></span></td></tr>
                    {{/if}}
                    {{/each}}
                </tbody>
            </table>
        </div>
    
    </div>
    
    <div style="margin-top:10px; text-align:right;">
        <a href="javascript:void(0)" class="js-close-sharing-panel ss-link-cancel" style="margin-right:10px;">Cancel
</a>
        <button class="ss-actions-button" id="sharing_panel_save">Save
</button>
    </div>
