<h1>Choose a user to act as:</h1>

<p><a href='sqlshare/'>Go to SQL Share</a></p>

<div id="user_wrapper">
<table id="sqlshare_users">
    <thead>
        <tr>
            <th>Login name</th>
            <th>Name</th>
            <th>Last login</th>
        </tr>
    </thead>
    <tbody>
    {{each users}}
        <tr>
            <td>${login}</td>
            <td>${name} ${surname}</td>
            <td>${last_login}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
</div>

<script>
    (function() {
        var date_formatter = function(cell, record, column, data) {

            if (data == '-1') {
                cell.innerHTML = '<em>Has not logged in yet</em>';
            }
            else {
                var hours = data.getHours();
                var ampm = 'AM'
                if (hours > 11) {
                    ampm = 'PM';
                    hours -= 12;
                }
                if (hours == 0) {
                    hours =  12
                }
                cell.innerHTML = [data.getMonth(), '/', data.getDate(), '/', data.getFullYear(), ' ', hours, ':', data.getMinutes(), ' ', ampm].join('');
            }
        };

        var my_date = function(s) {
            if (s == '') {
                return -1;
            }
            return new Date(s);
        };

        var cols = [
            { key: 'login', label: 'Login name', sortable: true },
            { key: 'name', label: 'Name', sortable: true },
            { key: 'last_login', label: 'Last login', formatter:date_formatter, sortable: true },
        ];

        var source = new YAHOO.util.DataSource(YAHOO.util.Dom.get("sqlshare_users"));
        source.responseType = YAHOO.util.DataSource.TYPE_HTMLTABLE;
        source.responseSchema = {
        fields: [
                {key:"login" },
                {key:"name"},
                {key:"last_login", parser: my_date}
                ]
        };

        var table = new YAHOO.widget.DataTable("user_wrapper", cols, source,
            {
                sortedBy:{key:"login",dir:"asc"}
            }
        );
    })();
</script>
