<div class="ss-content-header">
    <h3>Recent Activity
&nbsp;<span class="ss-activity-tally"><span class="ss-activity-tally-total">${total_tasks}</span> tasks total |
&nbsp;<span class="ss-activity-tally-running">${running_tasks}</span> running |
&nbsp;<span class="ss-activity-tally-finished">${finished_tasks}</span> finished
</span></h3>
</div>

{{if no_queries}}
<div class="ss-no-datasets-exist">
	You have not performed any queries recently.

</div>
{{else}}

<div id="js-query-queue" class="ss-dataset-list">
<table id="js-query-queue-table">
    <thead>
        <tr>
            <th>Query/Dataset</th>
            <th>Started</th>
            <th>Status</th>
            <th>Cancel/Remove</th>
            <th style="display: none">ID</th>
            <th style="display: none">Finished</th>
        </tr>
    </thead>
    <tbody>
        {{each queries}}
            <tr>
                <td>
                    ${sql}
                </td>
                <td>
                    ${start}
                </td>
                <td>
                    {{if end}}<span style="color:green;">Finished
</span>{{else}}<span style="color:#aaa;">Running...
</span>{{/if}}
                </td>
                <td>
                    <a href="javascript:void(0)" class="remove" id='remove_${url}' rel="{{if end}}remove{{else}}cancel{{/if}}">{{if !end}}x{{/if}}</a>
                </td>
                <td style="display: none;">${query_id}</td>
                <td style="display: none;">{{if end}}1{{else}}0{{/if}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
</div>
{{/if}}
