{{each files}}
<div style="width: 0px; height: 32px; background-color: aqua; margin: 8px 0;" id="${container_id}_${file_id}_file_status"></div>

<div style="width: 498px; line-height: 30px; top: 0; position: absolute; border:solid 1px #aaa; ">
    <span style="display:inline-block; float:left; margin-left:4px;font-weight:bold;">${name}</span>
    <span style="float:right;display:inline-block;margin-right:4px; color: #888;">${display_size}</span>
    <div class="clear"></div>
</div>

<input type="hidden" name="${container_id}_upload_file" id="${container_id}_${file_id}_file_id" value="preval"/>
{{/each}}
