{{if popular_datasets}}
<h3>Your top viewed
</h3>
<ul class="ss-sidebar-items" style="padding-top:10px;">
{{each popular_datasets}}
    <li><a href="${url}" title="View dataset ${name}"><span class="ss-tag-name" style="text-transform:none;">${name}</span><span class="ss-tag-count">${popularity}</span><span class="clear" style="height:0;padding:0;"></span></a></li>
{{/each}}
</ul>

{{/if}}

{{if tags}}
<div id="check_tagging_sidebar" style="display: none;"></div>
<h3>Popular Tags
</h3>
<ul class="ss-sidebar-items" id='js-sidebar-tag-list' style="padding-top:10px; border-bottom: none;">
    {{each tags}}
        <li id='popular_tag_${name}'><a href="sqlshare#s=tag/${url_name}" title="View datasets tagged as ${name}"><span class="ss-tag-name">${name}</span><span class="ss-tag-count">${count}</span><span class="clear" style="height:0;padding:0;"></span></a></li>
    {{/each}}
</ul>
{{/if}}
