
    <div class="ss-wayf-content">
            
        <img src="sqlshare/images/ss-wayf-logo.png" style="width:240px;"/>
        
        <p class="ss-wayf-headline"><strong>SQLShare is an easier way to store and share your data.</strong>  Get answers to your research questions right now.</p>


        <div class="ss-wayf-main">
            <div class="ss-wayf-hero"><img src="sqlshare/images/ss-wayf-hero.png" style="width:550px;" /></div>
            <div class="ss-wayf-hero-content">                
                
                <div class="ss-wayf-login">
                    <h3>Log in using your account:</h3>
                    <input type="hidden" name="shire" value="${shire}" />
                    <input type="hidden" name="target" value="${target}" />
                    <input type="hidden" name="providerId" value="${providerId}" />
                    <input type="hidden" name="time" value="${time}" />
                    <input type="hidden" name="uw_login" value="1" />
                    
                    <button class="uw" onclick="form.submit();">UW</button>
                    <button class="google" onclick="window.location.href='sqlshare/openid?target={{if google_target}}${google_target}{{else}}${target}{{/if}}';">Google</button>
                                        
                </div>
                
                <div class="ss-wayf-new-user">
                    <h3>Don&rsquo;t have an account?</h3>
                    <p>Create a <a href="https://www.google.com/accounts/NewAccount">Google Account</a> and start using SQLShare quickly.</p>
                </div>
                
            </div>
            <div class="clear"></div>
        </div>
                       
        <div>
            <div class="ss-wayf-feature">
                <h2>Upload</h2>
                <p>Upload any tabular data and start analyzing instantly.  No need to install, configure, or design a database.</p>
            </div>
            <div class="ss-wayf-feature">
                <h2>Modify</h2>
                <p>Exercise the full power of SQL even with zero programming experience: joins, subqueries, set operations.</p>
            </div>
            <div class="ss-wayf-feature-end">
                <h2>Share</h2>
                <p>Analyze and compare your data collaboratively.  Derive new datasets and share them with your colleagues.</p>
            </div>
            <div class="clear"></div>
        </div>
        
        
        <div class="ss-wayf-sponsors">
        
            <h5 style="">Brought to you by:</h5>
        
            <div class="ss-wayf-sponsors-logo"><img src="sqlshare/images/ss-wayf-escience.png" style="" /><br/>eScience Institute</div>            
            <div class="ss-wayf-sponsors-logo"><img src="sqlshare/images/moore-foundation-logo.gif" style="" /></div>
            <div class="clear"></div>
            
        </div>
        
    </div>
    
