<div id="${id}_name_required" style="display: none;">A name is required</div>

<div id="ss_content_header" class="ss-content-header">
    
    <h3 style="float:left;margin:0;white-space:nowrap;">
        <span id="${id}_name_container">${name}</span>
        {{if is_owner}}
            {{if is_public}}
                <span class="ss-access-public">Viewable by everyone
</span>
            {{else}}
                {{if is_shared}}
                    <span class="ss-access-shared-owner">Sharing with others
</span>
                {{else}}
                    <span class="ss-access-private">Only you can view this
</span>
                {{/if}}
            {{/if}}
        {{else}}
            {{if is_public}}
                <span class="ss-access-public">Viewable by everyone
</span>
            {{else}}
                <span class="ss-access-shared-viewer">Shared with you
</span>
            {{/if}}
        {{/if}}
    </h3>
        
    <div style="float:right;font-size:90%;color:#777; line-height:16px;">
        <span class="ss-mod-date">Last modified:&nbsp;${mod_date_month} ${mod_date_date}, ${mod_date_year} ${mod_date_hour}:${mod_date_min} {{if mod_date_pm}}PM{{else}}AM{{/if}}</span>
        <span class="ss-owner-info">${owner}</span>  
    </div>
    
    <div class="clear"></div>
</div>

<div id="ss_content_body_main" class="ss-content-body">
    
    <div id="js-description-container">
    ${description_area}
    </div>

    <div class="ss-query-text">
        <textarea id="${id}_sql_display" readonly="readonly" style="height:50px;">${statement}</textarea>
    </div>
    
    <div style="margin-bottom: 15px; text-align:right; white-space:nowrap; ">
    
        {{if is_editable}}<button class="ss-actions-button edit_query_button" title="Edit this dataset" id="${id}_edit_query" type="button">Edit dataset
</button>{{/if}}
        <button class="ss-actions-button" title="Create new dataset from this query" id="${id}_derive">Derive dataset
</button>
        <button class="ss-actions-button" id="${id}_snapshot">Create snapshot
</button>
        {{if !is_editable}}<button class="ss-actions-button" title="Download this dataset" id="${id}_download_query">Download
</button>{{/if}}
        {{if is_editable}}
        <button class="ss-actions-button" title="View more actions" id="action_menu_div">More actions
&nbsp;<img src="sqlshare/images/ss-actions-arrow.png"></button>
        {{/if}}
        <div id="${id}_download_error" style="display: none;"></div>
    </div>
   

</div>

<div id="ss_content_table" class="ss-content-table" style="">

    <h5 id="initial_preview_header" style="display: none;">DATASET PREVIEW
&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight:normal;">Rows <span style="color:#000;font-weight:bold;">1 - <span id="initial_max_rows"></span> </span> of <span style="color:#000;font-weight:bold;"><span id="initial_total_rows"></span></span>&nbsp;&nbsp;|&nbsp;&nbsp;Columns <span id="initial_max_cols" style="color:#000;font-weight:bold;"></span> of <span id="initial_total_cols" style="color:#000;font-weight:bold;"></span></span></h5>
    
    <div id="ss_table_container_main" class="ss-table-container" style="height: 200px;">
        <div id="${id}_saved_results"></div>
    </div>
        

</div>
