    <div class="ss-query-description" id="${id}_description_container">
        
        {{if description}}
            ${description}
        {{else}}
            {{if is_owner}}
                <span class="ss-click-to-edit">Click here to add a description</span>

            {{else}}
                <span class="ss-click-to-edit">No description provided by owner</span>
  
            {{/if}}
        {{/if}}        
        
        <div class="ss-dataset-tags">
        {{if tags}}
            {{each tags}}
                <span>${name}</span>
            {{/each}}
        {{else}}
            <p class="ss-click-to-tag">Click here to add a tag</p>

        {{/if}}
        </div>
        
    </div>

