<div class="ss-content-header">
    <h5>{{if is_saveable}}EDITING
{{else}}DERIVE
{{/if}}</h5>&nbsp;&nbsp; <strong><a href="sqlshare#s=${url}">${name}</strong></a>
    <span style="float:right;"><a id="ss_cancel_statement" style="float:right;margin-top:-8px;margin-right:-10px;" class="ss-link-cancel" title="Close this panel">close&nbsp;&nbsp;<strong>x</strong>
</a></span>
</div>

<div id="ss_content_body" class="ss-content-body">

    <div id="ss_statement_container" class="ss-statement-container">
        <div id="edit_query_wrapper" style="display: none;">
            <textarea id="ss_edit_statement_area" style=" width: 100%; height: 150px; font-family:Courier; padding:2px;">${statement}</textarea>
        </div>
    </div>
    <p class="ss-edit-execute-query"><button id="ss_run_query" title="Execute this query">Execute query
</button></p>
</div>
    
<div class="ss-content-table">

    <h5 id="dataset_preview_header" style="display: none;">DATASET PREVIEW
&nbsp;&nbsp;&nbsp;<span style="font-weight:normal;">Rows <span style="color:#000;font-weight:bold;">1 - <span id="preview_max_rows"></span></span> of <span style="color:#000;font-weight:bold;"><span id="preview_total_rows"></span></span>&nbsp;&nbsp;|&nbsp;&nbsp;Columns <span id="preview_max_cols" style="color:#000;font-weight:bold;"></span> of <span id="preview_total_cols" style="color:#000;font-weight:bold;"></span></span></h5>
    <div id="ss_table_container" class="ss-table-container">
        <div id="${id}_results">
            <p class="ss-edit-no-preview">No table available!
</p>
        </div>
    </div>
    
    {{if is_saveable}}
    <p id="ss_edit_button_row"><button id="ss_save_statement" title="Update this dataset">Update dataset
</button>&nbsp;&nbsp;&nbsp;<a class="ss-save-as-secondary" id="ss_save_as" title="Create new dataset from query">Create new dataset
 from query</a> </p>
    {{else}}
    <p id="ss_edit_button_row"><button id="ss_save_as" title="Create new dataset from query">Create new dataset
</button> </p>
    {{/if}}

</div>    
